<%= render "shared/header" %>

<main>
  <%= render "taskdetail" %>
  <section class="button_placement">
    <%= button_to "Delete!", "/delete/#{@task.id}", method: :delete, data: { confirm: "You Sure You Sure?"}, class: 'main_button' %>
  </section>
</main>

<%= render "shared/footer" %>
