<body>
<header>
  <h1>Welcome to your tasklist!</h1>
</header>
<main>
  <table>
    <tr>
      <th> Task Name </th>
      <th> Completed?</th>
    </tr>

  <% @all_tasks.each do |task| %>
  <tr>
  <td><%= link_to "#{task.name}", "show/#{task.id}" %> </td>
    <% if task.completed_date != nil %>
      <td> <%= "\u2713" %></td>
    <% else %>
      <td> <%= "\u2610" %> </td>
      </tr>
    <% end %>
  <% end %>
</table>
</main>
</body>
