 // Main styling

 html {
   margin: 0 auto;
   padding: 0;
   background-image: url("upfeathers.png");
   background-repeat: repeat;
   font-family: 'Cabin', sans-serif;
   color: #391D4D;
   font-size: 18px;
 }

 header {
   position: absolute;
   top: 52px;
   left: 200px;
 }

 h1 {
   color: #391d4d;
   font-size: 48px;
   margin: 0;
 }

 main {
   margin: 0 auto;
   width: 960px;
   background: #89A8A3;
   padding: 15px;
   margin-top: 115px;
   border-radius: 5px;
 }

 footer {
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px;
 }

// Link
a {
  color: #6b2148;
  font-size: 0.9em;
  text-decoration: none;
}

a:hover {
  color: #A24252;
}

// Table

table {
 text-align: left;
 vertical-align: middle;
 width: 600px;
 }

 th {
   font-weight: bold;
   font-size: 1.1em;
 }
